* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* atalho para flex direction e flex wrap*/
    flex-flow: row nowrap;
    background-color: yellow;
    height: 600px;
}

.flex-item {
    color: #fff;
    /* height: 200px; */
    width: 100%;
    background-color: red;
    /* atalho para flex */
    /* param 1: flex grow */
    /* param 2: flex srhink */
    /* param 3: flex basis */
    flex: 1 1 300px;
}

/* .flex-item:nth-child(2) {
    background-color: rebeccapurple;
    flex: 10 1 300px;
} */

/* .flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
}

.flex-item:nth-child(2) {
    align-self: stretch;
} */

/* alterando a ordem dos elementos  */
/* .flex-item:nth-child(1) {
    order: -1;
}

.flex-item:nth-child(2) {
    order: -2;
}

.flex-item:nth-child(3) {
    order: -4;
}

.flex-item:nth-child(4) {
    order: -3;
} */

body {
    font-size: 24px;
}

p {
    margin-bottom: 24px;
}

.two-columns {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: lawngreen;
    margin: 15px;
    padding: 30px;
}

.gallery {
    flex-flow: row wrap;
    display: flex;
}

.gallery .img {
    flex: 1 0 20%;
    height: 50px;
    background-color: blue;
    margin: 10px;
}