* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'header header' 'nav main' 'footer footer';
}

.grid div:nth-child(1) {
    background-color: red;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid div:nth-child(2) {
    background-color: rebeccapurple;
    grid-area: nav;
    
}

.grid div:nth-child(3) {
    background-color: blue;
    grid-area: main;
    
}

.grid div:nth-child(4) {
    background-color: turquoise;
    grid-area: footer;
}