h1 {

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 1, 1);
}

h4 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    background-color: rgb(0, 225, 255);
    color: rgb(4, 247, 255);


}

p {
    text-align: justify;
    font-size: 25;
    font-family: roboto, sans-serif;
    font-style: oblique;
    line-height: 1.5em;
    color: rgb(245, 3, 253);

}

body {
    background-color: rgb(72, 255, 0);
    
    
}