.texto {
    box-sizing: border-box;
    background-color: rebeccapurple;
    /* tamanhos largura e altura do elemento */
    width: 100%;
    height: 200px;
 
    max-width: 500px;
    min-width: 300px;
    max-height: 400px;
    min-width: 100px;
    overflow: auto;
    margin: 0 auto 30px auto;

    padding: 50px;
    border: 10px solid green;
}

