* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
    margin: 1.5em 20em;
    background-color: #807d7d;
    color: #fff;
}

.menu {
    width: 100%;
    height: 20vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu .name {
    width: 33.33%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 4rem;
}

.menu .menu-content{
    width: 33.33%;
    font-size: 6rem;

    color: inherit;
    display: flex;
    justify-content: space-between;
}

.menu .menu-content a{
    color: #9c9a9a;
    text-decoration: none;
}

.menu .menu-content a:hover{
    color: #fff;
}

.menu .menu-button {
    width: 33.33%;
    display: flex;
    justify-content: end;
}

.menu .menu-button .button-style{
    border: none;
    width: 200px;
    height: 70px;
    background-color: #ffee00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

.menu .menu-button .button-style:hover{
    background-color: #d8cb0e;
}

.menu .menu-button .button-style:active{
    background-color: #beb313;
}

.description {
    width: 100%;
    background-color: #000;
}

.description h1 {
    font-size: 10.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    max-width: 65%;
}

.description p {
    padding-top: 20px;
    max-width: 65%;
    font-size: 2.7rem;
}

.logos {
    width: 100%;
    padding: 90px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.logos .style-logos img {
    height: 40px;
}


.images {
    width: 100%;
    height: 80vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.images img{
    max-width: 300vw;
    max-height: 70vh;
}

.images h1 {
    font-size: 1.8rem;
    background-color: rebeccapurple;
}

.lorem {
    font-size: 12rem;
}