* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 20px;
}

.grid {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    grid-template-columns: [um]1fr [dois]1fr [tres]1fr [quatro]1fr;
    grid-template-rows: [um]1fr [dois]1fr [tres]1fr [quatro]1fr;
    /* grid-template-rows: 2fr 1fr 3fr; */
    gap: 20px;
}

.grid div {
    background-color: rebeccapurple;
    min-height: 75px;
}

.grid div:nth-child(5){
    background-color: rgb(84, 84, 143);
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3; */
    /* grid-column: um / quatro;
    grid-row: um / tres; */
    grid-area: um / um / quatro / tres;
}

@media (max-width: 768px) {
    .grid div:nth-child(5){
        grid-column: span 1;
    }
}